<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"">
	<title>IPL Team list</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}">


</head>
<body>
	<div class="container" align="center"	>
	{% if DelhiCapitals_data %}
		<h1> DelhiCapitals Players</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in DelhiCapitals_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>

		<div class="container" align="center"	>
	{% if MumbaiIndians_data %}
		<h1>MumbaiIndians Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success" style="width: 10%">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in MumbaiIndians_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>

		<div class="container" align="center"	>
	{% if CSK_data %}
		<h1>CSK Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in CSK_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>
		<div class="container" align="center"	>
	{% if PunjabKings_data %}
		<h1>PunjabKings Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in PunjabKings_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>
		<div class="container" align="center"	>
	{% if KKR_data %}
		<h1>KKR Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in KKR_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>
		<div class="container" align="center"	>
	{% if SRH_data %}
		<h1>SRH Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in SRH_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>
	<div class="container" align="center"	>
	{% if RR_data %}
		<h1>RR Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in RR_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	</div>
		<div class="container" align="center"	>
	{% if RCB_data %}
		<h1>RCB Players Information</h1>
			<table class = "table table-bordered table-dark table-hover text-center">
				<tr>
					<th class="bg-success">SL NO</th>
					<th class="bg-success">PLayer Name</th>
					<th class="bg-success">Age</th>
					<th class="bg-success">Country</th>
					<th class="bg-success">Marital Status</th>
					<th class="bg-success">Form</th>
				</tr>
				<tbody>
				{% for player in RCB_data  %}
					<tr>
						<td>{{ player.id }}</td>
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.country }}</td>
						<td>{{ player.marital_status }}</td>
						<td>{{ player.form }}</td>

					
					</tr>
				{% endfor %}
				</tbody>
			
			</table>
	
	{% else %}
		<h1>no data to display</h1>
	{% endif %}
	<a class="btn btn-outline-dark" href="/homepage/" role="button" >go to homepage</a>
	</div>	
</body>
</html>

