<!DOCTYPE html>

<html>
<head>
	<title>homepage</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


	</style>
</head>
<body>
	<div class="container" align="center">
		<div class="page-header" >
  			<h1 class="display-4">Welcome to IPL players website</h1>
		</div>
		<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team Name</th>
      <th scope="col">link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>DelhiCapitals</td>
      <td ><a href="/delhicapitals/"> @DelhiCapitals</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>MumbaiIndians</td>
      <td ><a href="/mumbaiindians/"> @MumbaiIndians</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CSK</td>
      <td ><a href="/csk/"> @CSK</a></td>
    </tr>
      <th scope="row">4</th>
      <td>PunjabKings</td>
      <td ><a href="/punjabkings/"> @PunjabKings</a></td>
    </tr>
      <th scope="row">5</th>
      <td>KKR</td>
      <td ><a href="/kkr/"> @KKR</a></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>SRH</td>
      <td ><a href="/srh/"> @SRH</a></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>RR</td>
      <td ><a href="/rr/"> @RR</a></td>
    </tr>
    <tr>
    	<th scope="row">8</th>
    	<td>RCB</td>
    	<td ><a href="/rcb/"> @RCB</a></td>
    </tr>
    <tr>
  </tbody>
</table>
	<a class="btn btn-outline-dark" href="/homepage/" role="button">Homepage</a>
	</div>
</body>
</html>